$colors: (
    component:(
        border: hsl(0, 0%, 80%),
        borderRich:hsl(0, 0%, 35%),
        divider:hsl(0, 0%, 89%),
        background: hsl(0, 0%, 100%),
    ),
    font:(
        primary:hsl(240, 5%, 12%, 1),
        secondary:hsla(216, 98%, 40%, 1),
    ),
);



