@use "../mixins/colors";
@use "../mixins/responsive";


.live{
    display: none;
    
    position: absolute;
    bottom: 1rem;
    left: 1rem;

    width: 9.5rem;
    height: 3rem;
    background-color: hsl(357, 87%, 38%);
    color: map-get(colors.$colors , 'component' , 'background' );
    font-family: Arial;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0;
    text-align: center;
    border-radius: 2rem;
    gap: 0.25rem;

    @include responsive.respondTo('desktop'){
        display: flex;
        flex-direction: row;
        align-items: center;
    };

    &::before{
        content: "";
        width:0.66rem;
        height:0.66rem;
        background-color: map-get(colors.$colors , 'component' , 'background' );
        border-radius: 50%;
        margin: 0 0.9rem 0 1.15rem;
        animation: pulse-white 2s infinite;
    }
}

@keyframes pulse-white {
    0% { box-shadow: 0 0 0 0 map-get(colors.$colors , 'component' , 'background' ); }
    70% { box-shadow: 0 0 0 0.75rem rgba(255, 255, 255, 0); }
    100% { box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); }
}